.body_style {
    padding: 0;
    margin: 0;
    }

.header_style {
    background: url(../images/foliac/computer.png) no-repeat;
    height: 650px;
    }

.container {
    width: 1140px;
    margin: 0 auto;
    }

.logo {
    margin-top: 35px;
    float: left;
	cursor: pointer;
    }

.nav_menu {
    margin-top: 75px;
    float:right;
    }

.menu {
    list-style: none;
    box-sizing: border-box;
    }

.item_menu {
    float: left;
    display: block;
    margin-left: 30px;
    }

.item_menu_a {
    text-decoration: none;
    color: #ffffff;
    font: 16px Lato, sans-serif;
    font-weight: bold;
    }

.item_menu:nth-child(-n+3):after {
    content:"/"; 
    color: #ffff;
    padding-left: 45px;
    }

.titles {
    width: 1140px;
    margin: 0 auto;
    }

.first_title, .second_title {
    color: rgb( 255, 255, 255 );
    text-align: center;
    text-transform: uppercase;
    }

.first_title {
    font: 46px big john;
    margin-top: 95px;
    }

.second_title {
    font: 30px slim joe;
    }

.clearfix:after {
    content:"";
    display: table;
    width:100%;
    clear:both;
    }

.btn {
    border: 2px solid #48bf72;
    border-radius: 3px;
    color: #48bf72;
    display: block;
    width: 134px;
    padding: 10px 20px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Lato";
    text-align: center;
    }

.btn:hover {
	background-color: #48bf72;
	color: white;
    }

.main-content {
    width: 1140px;
    margin: 0 auto;
    }

.form_title {
    margin: 50px 0px 54px 355px;
    font-size: 26px;
    font-family: "big john";
    color: rgb( 72, 191, 114 );
    } 

.input_name, .input_email {
    width: 286px;
    height: 46px;
    }   

.style_input {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 166, 165, 165 );
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb( 241, 241, 241 );
    padding-left: 70px;
    }  

.input_massage {
    display: block;
    margin-top: 30px;
    width: 680px;
    height: 224px;
    resize: none;  
    }

.form-row {
    margin-top: 30px;
    width: 755px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb( 72, 191, 114 );
    border: none;
    font-size: 14px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    }

.input_user:before {
    content: "";
    width: 50px; height: 50px;
    background: rgb( 60, 73, 85 ) url('../images/foliac/css_sprites.png') -41px -40px;
    position: absolute;
    border-radius: 5px;
   }

.input_text:before {
    content: "";
    height: 230px;
    width: 50px;
    background: rgb( 60, 73, 85 ) url('../images/foliac/css_sprites.png') -164px -43px;
    position: absolute;
    border-radius: 5px;
    }

.input_mail:before {
    content: "";
    width: 50px; height: 50px;
    background: rgb( 60, 73, 85 ) url('../images/foliac/css_sprites.png') -38px -164px;
    position: absolute;
    border-radius: 5px;
    margin-left: 35px;
    }

.container_for_name_email {
    display: inline-flex;
    }

.input_email {
    margin-left: 34px;
    display: inline-block;
    }

.input_user {
    display: inline-block;
    float: left;
    }

.input_container {
     margin:0 10% 0 10%;
     width:100%;
    }

.footer_style {
    background-color: #3c4955;
    height: 200px;
    }

.container_for_footer {
    width: 1140px;
    margin: 0 auto;
    }

.container-col {
    top: 95px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    float:left;
    }

.hexagon {
    position: relative;
    width: 50px; 
    height: 28.87px;
    background-color: #55acee;
    margin: 14.43px 40px;
    display: inline-block;
    }

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    }

.hexagon:before {
    bottom: 100%;
    border-bottom: 14.43px solid #55acee;
    }

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #55acee;
    }

.linkedin {
    background-color: #0976b4;
    }

.linkedin:before {
    border-bottom: 14.43px solid #0976b4;
    }

.linkedin:after {
   border-top: 14.43px solid #0976b4; 
    }

.dribbble {
    background-color: #ea4c89;
    }

.dribbble:before {
    border-bottom: 14.43px solid #ea4c89;
    }

.dribbble:after {
   border-top: 14.43px solid #ea4c89; 
    }

.behance {
    background-color: #1769ff;
    }

.behance:before {
    border-bottom: 14.43px solid #1769ff;
    }

.behance:after {
   border-top: 14.43px solid #1769ff; 
    }

.img_for_hexaton_twitter:after {
    content: "";
    position: absolute;
    width: 22px; height: 18px;
    left: 14px;
    top: 5px;
    background: #55acee url('../images/foliac/sprites_for_sotial_bar.png') -10px -55px no-repeat;
    }

.img_for_hexaton_linkedin {
    content: "";
    width: 22px; height: 20px;
    left: 14px;
    top: 5px;
    background: #0976b4 url('../images/foliac/sprites_for_sotial_bar.png') -55px -10px no-repeat;
    }

.img_for_hexaton_dribbble {
    content: "";
    width: 25px; height: 25px;
    left: 12px;
    top: 3px;
    background: #ea4c89 url('../images/foliac/sprites_for_sotial_bar.png') -10px -10px no-repeat;
    }

.img_for_hexaton_behance {
    content: "";
    width: 22px; height: 13px;
    left: 14px;
    top: 6px;
    background: #1769ff url('../images/foliac/sprites_for_sotial_bar.png') -52px -55px no-repeat;
    }

.container-col,.sotial_bar {
   display: inline-block;
    }

.sotial_bar {
    float:right;
    margin-left: 500px;
    margin-top: -40px;
    }

.container_for_name_email {
    display: inline;
    }
    /* Стили для position*/
.positionRel{
	 position: relative;
    }
.positionAbs{
	 position: absolute;
    }

@font-face {	
	font-family: 'big john';
	 src: local('../font/big john.otf'), url('../font/big john.otf');
    }
@font-face {	
	font-family: 'Slim Joe';
	 src: local('../font/Slim Joe.otf'), url('../font/Slim Joe.otf');
    }

