.table {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        width: 100%;
}
.table_col {
        border: 1px solid black;
        margin: 5px;
}
.table_cell, .text_left {
        border: 1px solid black;
        padding: 5px;
}
.text_left	{
	   text-align: left;
}	
.bottom {
	     text-align: center;
	     color: blue;
	     border: 3px solid black;
	     border: 5px double black;
}
.cell_Italy {
	   background: green; 
	   color: white;
        text-align: center           
}
.bg-UK {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -190px -82px;
        
}
.bg-Germany {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -46px -82px;
        
}
.bg-France {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -10px -82px;
        
}
.bg-Switzerland {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -154px -154px;
        
}
.bg-A_Hungarians {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -46px -10px;
        
}
.bg-Russia {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -10px -154px;
        
}
.bg-Turkey {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -190px -10px;
        
}
.bg-Denmark {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -82px -46px;
        
}
.bg-Belgium {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -46px -46px;
        
}
.bg-Netherlands {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -118px -118px;
        
}
.bg-Serbia {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -46px -154px;
    
}
.bg-Spain {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -82px -154px;
   
}
.bg-Japan {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -118px -46px;
    
}
.bg-Argentina {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -10px -46px;
    
}
.bg-Montenegro {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -10px -10px;
    
}
.bg-Paraguay {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -154px -46px;
    
}
.bg-Italy {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -118px -10px;
}
.bg-Bulgaria {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -82px -10px;
}
.bg-Norge {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -154px -10px;
}
.bg-Romania {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -154px -118px;
}
.bg-Albania {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -82px -118px;
}
.bg-Portugal {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -154px -82px;
}
.bg-Liechtenstein {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -118px -82px;
}
.bg-USA {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -190px -46px;
}
.bg-Luxembourg {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -10px -118px;
}
.bg-Greece {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -82px -82px;
}
.bg-Mexico {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -46px -118px;
}
.bg-Sweden {
        width: 16px; height: 16px;
        background: url('../images/table/css_sprites_for_flags.png') -118px -154px;
}
.countries {
        position: relative;
}       
.position {
        position: absolute;
        visibility: hidden;  
        display: inline;
}
.countries:hover .position {
        visibility: visible;
}
